<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- Content Header (Page header) -->
<section class="content-header" style="">
    <h1>
        生产信息
        <small>收寄导入查询</small>
        
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li><a href="#">生产信息</a></li>        
        <li class="active">收寄导入查询</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="toolbar">
                        <form class="form-inline" id="searchForm">
                            <div class="form-group">
                                
                                
                                <select name="chaxunid" id="roleIds" class="form-control  select2"
                                        data-placeholder="请从列表选择一项" required>
                                    <option th:each="chaxunid : ${chaxunids}" th:value="${chaxunid.name}" th:text="${chaxunid.name}">
                                        方案不存在
                                    </option>
                                </select>
                            </div>
                            
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-default" onclick="javascript:$('table').bootstrapTable('refresh', {silent: true});">
                                    <i class="glyphicon glyphicon-search"></i>
                                    查询
                                </button>
                                <button type="reset" class="btn btn-default">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    清空
                                </button>
                            </div>
                        </form>
                        
                        
                        <div class="btn-group btn-group-sm">
                            <button shiro:hasPermission="shoujidaoru:chaxun" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal"><i class="glyphicon glyphicon-remove"></i> 删除数据
                            </button>
<!--                             Provides extra visual weight and identifies the primary action in a set of buttons 
                            <button shiro:hasPermission="user:create" type="button" id="addBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#addModal"><i class="glyphicon glyphicon-plus"></i> 新增
                            </button>
                             Indicates caution should be taken with this action 
                            <button shiro:hasPermission="user:update" type="button" id="editBtn" class="btn btn-default"
                                    data-toggle="modal"
                                    data-target="#editModal"
                                    data-action="{type:'editable',form:'#editForm',table:'#table',after:'editAfter'}"
                                    disabled><i class="glyphicon glyphicon-edit"></i> 修改
                            </button>
                             Indicates a dangerous or potentially negative action -->
<!--                            <button shiro:hasPermission="shoujidaoru:chaxun" type="button" id="addBtn" class="btn btn-default" data-toggle="modal"
                                    data-target="#addModal"
                                    data-action="{type:'delete',form:'#addModal',idField:'id',table:'#table'}"
                                    disabled><i class="glyphicon glyphicon-remove"></i> 删除数据
                            </button>-->
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">删除数据</h4>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label class="control-label" for="roleIds"><span class="asterisk">*</span>导入编号:</label>
                        <select name="chaxunid" id="roleIds" class="form-control select2"
                                data-placeholder="请从列表选择一项" required>
                            <option th:each="chaxunid : ${chaxunids}" th:value="${chaxunid.name}" th:text="${chaxunid.name}">
                                编号不存在
                            </option>
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="addForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#addForm',url:'@{/shouji/delete}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- edit Modal -->
<!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModalLabel">修改单价</h4>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" name="bumenid"/>
                    <input type="hidden" name="yewuid"/>
                    <div class="form-group">
                        <label class="control-label" for="bumen"><span class="asterisk">*</span>部门：</label>
                        <input id="editUsername" type="text" class="form-control" name="bumen" placeholder=""
                               minlength="0" readonly required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="yewu"><span class="asterisk">*</span>业务:</label>
                        <input id="editName" type="text" class="form-control" name="yewu" placeholder=""
                               minlength="1" readonly required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="kehu"><span class="asterisk">*</span>客户:</label>
                        <input id="editName" type="text" class="form-control" name="kehu" placeholder=""
                               minlength="1" readonly required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="name"><span class="asterisk">*</span>姓名：</label>
                        <input type="text" class="form-control" id="editOrganizationName" name="name"
                               readonly required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="danjia"><span class="asterisk">*</span>单价：</label>
                        <input type="text" class="form-control" id="editOrganizationName" name="danjia"
                                required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="ticheng"><span class="asterisk">*</span>提成：</label>
                        <input type="text" class="form-control" id="editOrganizationName" name="ticheng"
                                required>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" form="editForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#editForm',url:'@{/xinchou/toudi/danjia/update}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>-->

<!-- delete modal -->
<!--<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteSmallModalLabel">删除单价提成</h4>
            </div>
            <div class="modal-body">
                <form id="deleteForm"></form>
                确定要删除选中的 <span class="records"></span> 条记录?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" form="deleteForm" class="btn btn-primary"
                        data-action="{type:'submit',form:'#deleteForm',url:'@{/xinchou/toudi/danjia/delete}',after:'$.myAction.refreshTable'}">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>-->
<div id="actionButtons" class="admin-hide">
<!--    <a class="like" href="javascript:void(0)" data-toggle="tooltip" title="Like"><i class="glyphicon glyphicon-heart"></i></a>　-->
<!--    <a shiro:hasPermission="shoujidanjia:update" class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>　
    <a shiro:hasPermission="shoujidanjia:delete" class="remove ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i></a>　-->
</div>
<!-- zTree -->
<div id="menuContent" class="menuContent"
     style="display:none;z-index:1989101600;position: absolute;border: 1px solid #ccc; background-color: #fff;">
    <ul id="tree" class="ztree"></ul>
</div>
<script th:inline="javascript">

    var $table = $('#table');

    $(function () {
        // bootstrap table初始化
        // http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
        $table.bootstrapTable({
            url: CONTEXT_PATH + '/shouji/daoruchaxun/list',
            idField: 'id',
            showExport: true,   
            columns: [
                {field: 'chanpin', title: '产品', sortable: true, halign: 'left'},
                {field: 'youjianhao', title: '邮件号', sortable: true, halign: 'left'},
                {field: 'jidaguo', title: '寄达国', sortable: true, halign: 'left'},
                {field: 'jidasheng', title: '寄达省', sortable: true, halign: 'left'},
                {field: 'jidashi', title: '寄达市', sortable: true, halign: 'left'},
                {field: 'jidaju', title: '寄大局', sortable: true, halign: 'left'},  
                {field: 'kehumingcheng', title: '客户名称', sortable: true, halign: 'left'},  
                {field: 'shoujiyuan', title: '收寄员', sortable: false, halign: 'left'},
                {field: 'shoujishijian', title: '收寄时间', sortable: false, halign: 'left'},
                {field: 'bumen', title: '部门', sortable: false, halign: 'left'},
                
//                {
//                    field: 'action',
//                    title: '操作',
//                    halign: 'center',
//                    align: 'center',
//                    formatter: 'actionFormatter',
//                    events: 'actionEvents',
//                    clickToSelect: false
//                }
            ]
        });
    });

    // 数据表格展开内容
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

//    function editAfter(obj, row) {
//        var roleIdList = row.roleIdList;
//        var groupIdList = row.groupIdList;
//        for (i in roleIdList) {
//            var roleId = roleIdList[i];
//            $('#editForm').find('[name=roleIds]').find('option[value=' + roleId + ']').prop('selected', true);
//        }
//        for(i in groupIdList) {
//            var groupId = groupIdList[i];
//            $('#editForm').find('[name=groupIds]').find('option[value=' + groupId + ']').prop('selected', true);
//        }
//    }

    function actionFormatter(value, row, index) {
        return $('#actionButtons').html();
    }

    window.actionEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like icon, row: ' + JSON.stringify(row));
            console.log(value, row, index);
        },
        'click .edit': function (e, value, row, index) {
            $('#editModal').modal('show')
            $('#editForm').fillForm(row);
            editAfter('', row);
            console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
            $('#deleteModal').modal('show');
            $('.records').html('1');
            var html = '';
            for (var key in row) {
                html += '<input type="hidden" name="' + key + '" value="' + row[key] + '">';
            }
            $('#deleteForm').html(html);
        }
    };

    var setting = {
        view: {
            dblClickExpand: false
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onClick: onClick
        }
    };
    
//    var orgList = [[${organizationList}]];
//    var zNodes = [];
//    for (var i in orgList) {
//        zNodes.push({id: orgList[i].id, pId: orgList[i].parentId, name: orgList[i].name});
//    }

//    function onClick(e, treeId, treeNode) {
//        var zTree = $.fn.zTree.getZTreeObj("tree"),
//            nodes = zTree.getSelectedNodes(),
//            id = "",
//            name = "";
//        nodes.sort(function compare(a, b) {
//            return a.id - b.id;
//        });
//        for (var i = 0, l = nodes.length; i < l; i++) {
//            id += nodes[i].id + ",";
//            name += nodes[i].name + ",";
//        }
//        if (id.length > 0) id = id.substring(0, id.length - 1);
//        if (name.length > 0) name = name.substring(0, name.length - 1);
//        $("#organizationId").val(id);
//        $("#organizationName").val(name);
//        $("#editOrganizationId").val(id);
//        $("#editOrganizationName").val(name);
//        hideMenu();
//    }
//
//    function showMenu() {
//        var cityObj = $("#organizationName");
//        var cityOffset = $("#organizationName").offset();
//        $("#menuContent").css({
//            left: cityOffset.left + "px",
//            top: cityOffset.top + cityObj.outerHeight()
//        }).slideDown("fast");
//
//        $("body").bind("mousedown", onBodyDown);
//    }
//
//    function showMenuOfEdit() {
//        var cityObj = $("#editOrganizationName");
//        var cityOffset = $("#editOrganizationName").offset();
//        $("#menuContent").css({
//            left: cityOffset.left + "px",
//            top: cityOffset.top + cityObj.outerHeight()
//        }).slideDown("fast");
//
//        $("body").bind("mousedown", onBodyDown);
//    }
//
//    function hideMenu() {
//        $("#menuContent").fadeOut("fast");
//        $("body").unbind("mousedown", onBodyDown);
//    }
//
//    function onBodyDown(event) {
//        if (!(event.target.id == "organizationName" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length > 0)) {
//            hideMenu();
//        }
//    }
//
//    $.fn.zTree.init($("#tree"), setting, zNodes);
//    $("#organizationName").click(showMenu);
//    $("#editOrganizationName").click(showMenuOfEdit);
</script>
<script>
    
  $(".form_datetime").datetimepicker({locale:'zh-cn',format: 'YYYY-MM-DD HH:mm:ss'});
    
</script>
</html>